/* estilos.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .contenedor {
    width: 90%;
    max-width: 95%;
  }
  


  /*************Disfruta una experiencia***********/
  #presentacion {
    background: #ffffff;
    color: #000;
  }

  .contPadre {
    width: 75%;
    height: auto;
    display: flex;
    padding: 3em 0;
    margin: auto;
    gap: 1em;
  }

  .contPadre img {
    padding: 1em 0;
  }

  .contPadre h4 {

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
  }

  .presenImagenes {
    margin: auto;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  


  

  